<div class="container w-100">
    <div class="row w-100">
        <div class="col ">
             <div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 h-100">
                        <form id="login-form" class="form h-100" action="/register" method="post" enctype="multipart/form-data">
                            <h3 class="text-center text-info">Create Account</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="email" name="email" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Phone number:</label><br>
                                <input type="number" name="phone" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group" style="display: none;">
                                
                                <input type="text" name="status" id="password" class="form-control" value="block">
                            </div>
                            <div class="form-group">
    <label for="exampleInputPassword1">Add image</label>
    <input type="file" class="form-control" name="image" required>
  </div>
                             <div class="form-group">
                               
                                <a href="/login" class="text-info">Already have an account ? <br></a>
                            
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>